html, body {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 600px;
  height: 600px;
  border: 20px solid powderblue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.item {
  /* width: 80px;
  height: 80px; */
  border: 2px solid black;
  /* display: inline-block; */
  /* margin: 30px; */
  background-color: salmon;
  transition: all .5s;
}
